// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// sidebar | antd
.ant-layout-sider-children {
  background-color: #fff;
  height: 100vh !important;
}

li.ant-menu-item.ant-menu-item-selected {
  background: linear-gradient(135deg, #0059aa 0%, rgba(0, 89, 170, 0.75) 100%);
  color: #fff;
}

.ant-layout .ant-layout-sider {
  background: #fff;
}

// sidebar menu link
.menuLink:focus {
  color: #fff !important;
}

// date range picker
.ant-btn-sm {
  background: rgb(82, 82, 221);
}

// table
.custom_table .ant-table {
  background-color: transparent !important;
}

.custom_table .ant-table-thead > tr > th {
  background-color: transparent !important;
}

.custom_table table > thead > tr:first-child > *:last-child {
  padding-left: 3rem;
}

// booking details page
.custom__input::placeholder {
  color: #000 !important;
}

.custom__select .ant-select-selection-placeholder {
  color: #000 !important;
}

//Guest details placeholder
.custom__input.guest::placeholder {
  color: #dbdbdb !important;
}
