// tailwindcss 
@tailwind base;
@tailwind components;
@tailwind utilities;

// google fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// sidebar | antd
.ant-layout-sider-children {
background-color: #fff;
    height: 100vh !important;
}

li.ant-menu-item.ant-menu-item-selected {
   background: linear-gradient(135deg, #0059AA 0%, rgba(0, 89, 170, 0.75) 100%);
   color: #fff;

}